  @font-face {
    font-family: "Gotham-Bold";
    src: url('/fonts/Gotham-Bold/Gotham-Bold.eot');
    src: url('/fonts/Gotham-Bold/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Gotham-Bold/Gotham-Bold.woff2') format('woff2'),
        url('/fonts/Gotham-Bold/Gotham-Bold.woff') format('woff'),
        url('/fonts/Gotham-Bold/Gotham-Bold.ttf') format('truetype'),
        url('/fonts/Gotham-Bold/Gotham-Bold.svg#Gotham-Bold') format('svg');
  }
 
  @font-face {
    font-family: "AlmaraiXb";
    src: url('/fonts/AlmaraiXb/Almarai-ExtraBold.eot');
    src: url('/fonts/AlmaraiXb/Almarai-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/AlmaraiXb/Almarai-ExtraBold.woff2') format('woff2'),
        url('/fonts/AlmaraiXb/Almarai-ExtraBold.woff') format('woff'),
        url('/fonts/AlmaraiXb/Almarai-ExtraBold.ttf') format('truetype'),
        url('/fonts/AlmaraiXb/Almarai-ExtraBold.svg#Almarai-ExtraBold') format('svg');
  }
  
  @font-face {
    font-family: "AvantGarde-Book";
    src: url('/fonts/AvantGarde-Book/AvantGarde-Book.eot');
    src: url('/fonts/AvantGarde-Book/AvantGarde-Book.eot?#iefix') format('embedded-opentype'),
        url('/fonts/AvantGarde-Book/AvantGarde-Book.woff2') format('woff2'),
        url('/fonts/AvantGarde-Book/AvantGarde-Book.woff') format('woff'),
        url('/fonts/AvantGarde-Book/AvantGarde-Book.ttf') format('truetype'),
        url('/fonts/AvantGarde-Book/AvantGarde-Book.svg#AvantGarde-Book') format('svg');
  }
  
  @font-face {
    font-family: "AvantGarde-BookOblique";
    src: url('/fonts/AvantGarde-BookOblique/AvantGardeBookOblique.eot');
    src: url('/fonts/AvantGarde-BookOblique/AvantGardeBookOblique.eot?#iefix') format('embedded-opentype'),
        url('/fonts/AvantGarde-BookOblique/AvantGardeBookOblique.woff2') format('woff2'),
        url('/fonts/AvantGarde-BookOblique/AvantGardeBookOblique.woff') format('woff'),
        url('/fonts/AvantGarde-BookOblique/AvantGardeBookOblique.ttf') format('truetype'),  
        url('/fonts/AvantGarde-BookOblique/AvantGardeBookOblique.svg#AvantGardeBookOblique') format('svg');
  }
  
  @font-face {
    font-family: "AvantGarde-Demi";
    src: url('/fonts/AvantGarde-Demi/AvantGarde-Demi.eot');
    src: url('/fonts/AvantGarde-Demi/AvantGarde-Demi.eot?#iefix') format('embedded-opentype'),
          url('/fonts/AvantGarde-Demi/AvantGarde-Demi.woff2') format('woff2'),
          url('/fonts/AvantGarde-Demi/AvantGarde-Demi.woff') format('woff'),
          url('/fonts/AvantGarde-Demi/AvantGarde-Demi.ttf') format('truetype'),
          url('/fonts/AvantGarde-Demi/AvantGarde-Demi.svg#AvantGarde-Demi') format('svg');
  }
  
  @font-face {
    font-family: "AvantGarde-DemiOblique";
    src: url('/fonts/AvantGarde-DemiOblique/AvantGardeBookOblique.eot');
    src: url('/fonts/AvantGarde-DemiOblique/AvantGardeBookOblique.eot?#iefix') format('embedded-opentype'),
          url('/fonts/AvantGarde-DemiOblique/AvantGardeBookOblique.woff2') format('woff2'),
          url('/fonts/AvantGarde-DemiOblique/AvantGardeBookOblique.woff') format('woff'),
          url('/fonts/AvantGarde-DemiOblique/AvantGardeBookOblique.ttf') format('truetype'),
          url('/fonts/AvantGarde-DemiOblique/AvantGardeBookOblique.svg#AvantGardeBookOblique') format('svg');
  }
  
  @font-face {
    font-family: "Bookman-Demi";
    src: url('/fonts/Bookman-Demi/Bookman-Demi.eot');
    src: url('/fonts/Bookman-Demi/Bookman-Demi.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Bookman-Demi/Bookman-Demi.woff2') format('woff2'),
        url('/fonts/Bookman-Demi/Bookman-Demi.woff') format('woff'),
        url('/fonts/Bookman-Demi/Bookman-Demi.ttf') format('truetype'),
        url('/fonts/Bookman-Demi/Bookman-Demi.svg#Bookman-Demi') format('svg');
  }
  
  @font-face {
    font-family: "Bookman-DemiItalic";
    src: url('/fonts/Bookman-DemiItalic/Bookman-DemiItalic.eot');
    src: url('/fonts/Bookman-DemiItalic/Bookman-DemiItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Bookman-DemiItalic/Bookman-DemiItalic.woff2') format('woff2'),
        url('/fonts/Bookman-DemiItalic/Bookman-DemiItalic.woff') format('woff'),
        url('/fonts/Bookman-DemiItalic/Bookman-DemiItalic.ttf') format('truetype'),
        url('/fonts/Bookman-DemiItalic/Bookman-DemiItalic.svg#Bookman-DemiItalic') format('svg');
  }
  
  @font-face {
    font-family: "Bookman-Light";
    src: url('/fonts/Bookman-Light/Bookman-Light.eot');
    src: url('/fonts/Bookman-Light/Bookman-Light.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Bookman-Light/Bookman-Light.woff2') format('woff2'),
        url('/fonts/Bookman-Light/Bookman-Light.woff') format('woff'),
        url('/fonts/Bookman-Light/Bookman-Light.ttf') format('truetype'),
        url('/fonts/Bookman-Light/Bookman-Light.svg#Bookman-Light') format('svg');
  }
  
  @font-face {
    font-family: "Bookman-LightItalic";
    src: url('/fonts/Bookman-LightItalic/Bookman-LightItalic.eot');
    src: url('/fonts/Bookman-LightItalic/Bookman-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Bookman-LightItalic/Bookman-LightItalic.woff2') format('woff2'),
        url('/fonts/Bookman-LightItalic/Bookman-LightItalic.woff') format('woff'),
        url('/fonts/Bookman-LightItalic/Bookman-LightItalic.ttf') format('truetype'),
        url('/fonts/Bookman-LightItalic/Bookman-LightItalic.svg#Bookman-LightItalic') format('svg');
  }
  
  @font-face {
    font-family: "Courier";
    src: url('/fonts/Courier/Courier-Normal.eot');
    src: url('/fonts/Courier/Courier-Normal.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Courier/Courier-Normal.woff2') format('woff2'),
        url('/fonts/Courier/Courier-Normal.woff') format('woff'),
        url('/fonts/Courier/Courier-Normal.ttf') format('truetype'),
        url('/fonts/Courier/Courier-Normal.svg#Courier-Normal') format('svg');
  }
  
  @font-face {
    font-family: "Courier-Bold";
    src: url('/fonts/Courier-Bold/Courier-Bold.eot');
    src: url('/fonts/Courier-Bold/Courier-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Courier-Bold/Courier-Bold.woff2') format('woff2'),
        url('/fonts/Courier-Bold/Courier-Bold.woff') format('woff'),
        url('/fonts/Courier-Bold/Courier-Bold.ttf') format('truetype'),
        url('/fonts/Courier-Bold/Courier-Bold.svg#Courier-Bold') format('svg');
  }
  
  @font-face {
    font-family: "Courier-Oblique";
    src: url('/fonts/Courier-Oblique/Courier-Oblique.eot');
    src: url('/fonts/Courier-Oblique/Courier-Oblique.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Courier-Oblique/Courier-Oblique.woff2') format('woff2'),
        url('/fonts/Courier-Oblique/Courier-Oblique.woff') format('woff'),
        url('/fonts/Courier-Oblique/Courier-Oblique.ttf') format('truetype'),
        url('/fonts/Courier-Oblique/Courier-Oblique.svg#Courier-Oblique') format('svg');
  }
  
  @font-face {
    font-family: "Courier-BoldOblique";
    src: url('/fonts/Courier-BoldOblique/Courier-BoldOblique.eot');
    src: url('/fonts/Courier-BoldOblique/Courier-BoldOblique.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Courier-BoldOblique/Courier-BoldOblique.woff2') format('woff2'),
        url('/fonts/Courier-BoldOblique/Courier-BoldOblique.woff') format('woff'),
        url('/fonts/Courier-BoldOblique/Courier-BoldOblique.ttf') format('truetype'),
        url('/fonts/Courier-BoldOblique/Courier-BoldOblique.svg#Courier-BoldOblique') format('svg');
  }
  
  @font-face {
    font-family: "fixed";
    src: url('/fonts/fixed/FIXED-3D.eot');
    src: url('/fonts/fixed/FIXED-3D.eot?#iefix') format('embedded-opentype'),
        url('/fonts/fixed/FIXED-3D.woff2') format('woff2'),
        url('/fonts/fixed/FIXED-3D.woff') format('woff'),
        url('/fonts/fixed/FIXED-3D.ttf') format('truetype'),
        url('/fonts/fixed/FIXED-3D.svg#FIXED-3D') format('svg');
  }
  
  @font-face {
    font-family: "Helvetica";
    src: url('/fonts/Helvetica/HelvetiaVerbundene.eot');
    src: url('/fonts/Helvetica/HelvetiaVerbundene.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Helvetica/HelvetiaVerbundene.woff2') format('woff2'),
        url('/fonts/Helvetica/HelvetiaVerbundene.woff') format('woff'),
        url('/fonts/Helvetica/HelvetiaVerbundene.ttf') format('truetype'),
        url('/fonts/Helvetica/HelvetiaVerbundene.svg#HelvetiaVerbundene') format('svg');
  }
  
  @font-face {
    font-family: "Helvetica-Bold";
    src: url('/fonts/Helvetica-Bold/Helvetica-Bold.eot');
    src: url('/fonts/Helvetica-Bold/Helvetica-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Helvetica-Bold/Helvetica-Bold.woff2') format('woff2'),
        url('/fonts/Helvetica-Bold/Helvetica-Bold.woff') format('woff'),
        url('/fonts/Helvetica-Bold/Helvetica-Bold.ttf') format('truetype'),
        url('/fonts/Helvetica-Bold/Helvetica-Bold.svg#Helvetica-Bold') format('svg');
  }
  
  @font-face {
    font-family: "Helvetica-Oblique";
    src: url('/fonts/Helvetica-Oblique/Helvetica-Oblique.eot');
    src: url('/fonts/Helvetica-Oblique/Helvetica-Oblique.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Helvetica-Oblique/Helvetica-Oblique.woff2') format('woff2'),
        url('/fonts/Helvetica-Oblique/Helvetica-Oblique.woff') format('woff'),
        url('/fonts/Helvetica-Oblique/Helvetica-Oblique.ttf') format('truetype'),
        url('/fonts/Helvetica-Oblique/Helvetica-Oblique.svg#Helvetica-Oblique') format('svg');
  }
  
  @font-face {
    font-family: "Helvetica-BoldOblique";
    src: url('/fonts/Helvetica-BoldOblique/Helvetica-BoldOblique.eot');
    src: url('/fonts/Helvetica-BoldOblique/Helvetica-BoldOblique.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Helvetica-BoldOblique/Helvetica-BoldOblique.woff2') format('woff2'),
        url('/fonts/Helvetica-BoldOblique/Helvetica-BoldOblique.woff') format('woff'),
        url('/fonts/Helvetica-BoldOblique/Helvetica-BoldOblique.ttf') format('truetype'),
        url('/fonts/Helvetica-BoldOblique/Helvetica-BoldOblique.svg#Helvetica-BoldOblique') format('svg');
  }
  
  @font-face {
    font-family: "Helvetica-Narrow";
    src: url('/fonts/Helvetica-Narrow/Helvetica-Narrow.eot');
    src: url('/fonts/Helvetica-Narrow/Helvetica-Narrow.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Helvetica-Narrow/Helvetica-Narrow.woff2') format('woff2'),
        url('/fonts/Helvetica-Narrow/Helvetica-Narrow.woff') format('woff'),
        url('/fonts/Helvetica-Narrow/Helvetica-Narrow.ttf') format('truetype'),
        url('/fonts/Helvetica-Narrow/Helvetica-Narrow.svg#Helvetica-Narrow') format('svg');
    
  }
  
  @font-face {
    font-family: "Helvetica-Narrow-Oblique";
    src: url('/fonts/Helvetica-Narrow-Oblique/Helvetica-Narrow-Oblique.eot');
    src: url('/fonts/Helvetica-Narrow-Oblique/Helvetica-Narrow-Oblique.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Helvetica-Narrow-Oblique/Helvetica-Narrow-Oblique.woff2') format('woff2'),
        url('/fonts/Helvetica-Narrow-Oblique/Helvetica-Narrow-Oblique.woff') format('woff'),
        url('/fonts/Helvetica-Narrow-Oblique/Helvetica-Narrow-Oblique.ttf') format('truetype'),
        url('/fonts/Helvetica-Narrow-Oblique/Helvetica-Narrow-Oblique.svg#Helvetica-Narrow-Oblique') format('svg');
  }
  
  @font-face {
    font-family: "Helvetica-Narrow-Bold";
    src: url('/fonts/Helvetica-Narrow-Bold/Helvetica-Narrow-Bold.eot');
    src: url('/fonts/Helvetica-Narrow-Bold/Helvetica-Narrow-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Helvetica-Narrow-Bold/Helvetica-Narrow-Bold.woff2') format('woff2'),
        url('/fonts/Helvetica-Narrow-Bold/Helvetica-Narrow-Bold.woff') format('woff'),
        url('/fonts/Helvetica-Narrow-Bold/Helvetica-Narrow-Bold.ttf') format('truetype'),
        url('/fonts/Helvetica-Narrow-Bold/Helvetica-Narrow-Bold.svg#Helvetica-Narrow-Bold') format('svg');
  }
  
  @font-face {
    font-family: "Helvetica-Narrow-BoldOblique";
    src: url('/fonts/Helvetica-Narrow-BoldOblique/Helvetica-Narrow-BoldOblique.eot');
    src: url('/fonts/Helvetica-Narrow-BoldOblique/Helvetica-Narrow-BoldOblique.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Helvetica-Narrow-BoldOblique/Helvetica-Narrow-BoldOblique.woff2') format('woff2'),
        url('/fonts/Helvetica-Narrow-BoldOblique/Helvetica-Narrow-BoldOblique.woff') format('woff'),
        url('/fonts/Helvetica-Narrow-BoldOblique/Helvetica-Narrow-BoldOblique.ttf') format('truetype'),
        url('/fonts/Helvetica-Narrow-BoldOblique/Helvetica-Narrow-BoldOblique.svg#Helvetica-Narrow-BoldOblique') format('svg');
  }
  
  @font-face {
    font-family: "NewCenturySchlbk-Roman";
    src: url('/fonts/NewCenturySchlbk-Roman/NewCenturySchlbk-Roman.eot');
    src: url('/fonts/NewCenturySchlbk-Roman/NewCenturySchlbk-Roman.eot?#iefix') format('embedded-opentype'),
        url('/fonts/NewCenturySchlbk-Roman/NewCenturySchlbk-Roman.woff2') format('woff2'),
        url('/fonts/NewCenturySchlbk-Roman/NewCenturySchlbk-Roman.woff') format('woff'),
        url('/fonts/NewCenturySchlbk-Roman/NewCenturySchlbk-Roman.ttf') format('truetype'),
        url('/fonts/NewCenturySchlbk-Roman/NewCenturySchlbk-Roman.svg#NewCenturySchlbk-Roman') format('svg');
  }
  
  @font-face {
    font-family: "NewCenturySchlbk-Italic";
    src: url('/fonts/NewCenturySchlbk-Italic/NewCenturySchlbk-Italic.eot');
    src: url('/fonts/NewCenturySchlbk-Italic/NewCenturySchlbk-Italic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/NewCenturySchlbk-Italic/NewCenturySchlbk-Italic.woff2') format('woff2'),
        url('/fonts/NewCenturySchlbk-Italic/NewCenturySchlbk-Italic.woff') format('woff'),
        url('/fonts/NewCenturySchlbk-Italic/NewCenturySchlbk-Italic.ttf') format('truetype'),
        url('/fonts/NewCenturySchlbk-Italic/NewCenturySchlbk-Italic.svg#NewCenturySchlbk-Italic') format('svg');
  }
  
  @font-face {
    font-family: "NewCenturySchlbk-Bold";
    src: url('/fonts/NewCenturySchlbk-Bold/NewCenturySchlbk-Bold.eot');
    src: url('/fonts/NewCenturySchlbk-Bold/NewCenturySchlbk-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/NewCenturySchlbk-Bold/NewCenturySchlbk-Bold.woff2') format('woff2'),
        url('/fonts/NewCenturySchlbk-Bold/NewCenturySchlbk-Bold.woff') format('woff'),
        url('/fonts/NewCenturySchlbk-Bold/NewCenturySchlbk-Bold.ttf') format('truetype'),
        url('/fonts/NewCenturySchlbk-Bold/NewCenturySchlbk-Bold.svg#NewCenturySchlbk-Bold') format('svg');
  }
  
  @font-face {
    font-family: "NewCenturySchlbk-BoldItalic";
    src: url('/fonts/NewCenturySchlbk-BoldItalic/NewCenturySchlbk-BoldItalic.eot');
    src: url('/fonts/NewCenturySchlbk-BoldItalic/NewCenturySchlbk-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/NewCenturySchlbk-BoldItalic/NewCenturySchlbk-BoldItalic.woff2') format('woff2'),
        url('/fonts/NewCenturySchlbk-BoldItalic/NewCenturySchlbk-BoldItalic.woff') format('woff'),
        url('/fonts/NewCenturySchlbk-BoldItalic/NewCenturySchlbk-BoldItalic.ttf') format('truetype'),
        url('/fonts/NewCenturySchlbk-BoldItalic/NewCenturySchlbk-BoldItalic.svg#NewCenturySchlbk-BoldItalic') format('svg');
  }
  
  @font-face {
    font-family: "Palatino-Roman";
    src: url('/fonts/Palatino-Roman/Palatino-Roman.eot');
    src: url('/fonts/Palatino-Roman/Palatino-Roman.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Palatino-Roman/Palatino-Roman.woff2') format('woff2'),
        url('/fonts/Palatino-Roman/Palatino-Roman.woff') format('woff'),
        url('/fonts/Palatino-Roman/Palatino-Roman.ttf') format('truetype'),
        url('/fonts/Palatino-Roman/Palatino-Roman.svg#Palatino-Roman') format('svg');
  }
  
  @font-face {
    font-family: "Palatino-Italic";
    src: url('/fonts/Palatino-Italic/PalatinoItalic.eot');
    src: url('/fonts/Palatino-Italic/PalatinoItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Palatino-Italic/PalatinoItalic.woff2') format('woff2'),
        url('/fonts/Palatino-Italic/PalatinoItalic.woff') format('woff'),
        url('/fonts/Palatino-Italic/PalatinoItalic.ttf') format('truetype'),
        url('/fonts/Palatino-Italic/PalatinoItalic.svg#PalatinoItalic') format('svg');
  }
  
  @font-face {
    font-family: "Palatino-Bold";
    src: url('/fonts/Palatino-Bold/Palatino-Bold.eot');
    src: url('/fonts/Palatino-Bold/Palatino-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Palatino-Bold/Palatino-Bold.woff2') format('woff2'),
        url('/fonts/Palatino-Bold/Palatino-Bold.woff') format('woff'),
        url('/fonts/Palatino-Bold/Palatino-Bold.ttf') format('truetype'),
        url('/fonts/Palatino-Bold/Palatino-Bold.svg#Palatino-Bold') format('svg');
  }
  
  @font-face {
    font-family: "Palatino-BoldItalic";
    src: url('/fonts/Palatino-BoldItalic/Palatino-BoldItalic.eot');
    src: url('/fonts/Palatino-BoldItalic/Palatino-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Palatino-BoldItalic/Palatino-BoldItalic.woff2') format('woff2'),
        url('/fonts/Palatino-BoldItalic/Palatino-BoldItalic.woff') format('woff'),
        url('/fonts/Palatino-BoldItalic/Palatino-BoldItalic.ttf') format('truetype'),
        url('/fonts/Palatino-BoldItalic/Palatino-BoldItalic.svg#Palatino-BoldItalic') format('svg');
  }
  
  @font-face {
    font-family: "Times-Roman";
    src: url('/fonts/Times-Roman/TimesNewRomanPSMT.eot');
    src: url('/fonts/Times-Roman/TimesNewRomanPSMT.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Times-Roman/TimesNewRomanPSMT.woff2') format('woff2'),
        url('/fonts/Times-Roman/TimesNewRomanPSMT.woff') format('woff'),
        url('/fonts/Times-Roman/TimesNewRomanPSMT.ttf') format('truetype'),
        url('/fonts/Times-Roman/TimesNewRomanPSMT.svg#TimesNewRomanPSMT') format('svg');
  }
  
  @font-face {
    font-family: "Times-Italic";
    src: url('/fonts/Times-Italic/Times-Italic.eot');
    src: url('/fonts/Times-Italic/Times-Italic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Times-Italic/Times-Italic.woff2') format('woff2'),
        url('/fonts/Times-Italic/Times-Italic.woff') format('woff'),
        url('/fonts/Times-Italic/Times-Italic.ttf') format('truetype'),
        url('/fonts/Times-Italic/Times-Italic.svg#Times-Italic') format('svg');
  }
  
  @font-face {
    font-family: "Times-Bold";
    src: url('/fonts/Times-Bold/Times-Bold.eot');
    src: url('/fonts/Times-Bold/Times-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Times-Bold/Times-Bold.woff2') format('woff2'),
        url('/fonts/Times-Bold/Times-Bold.woff') format('woff'),
        url('/fonts/Times-Bold/Times-Bold.ttf') format('truetype'),
        url('/fonts/Times-Bold/Times-Bold.svg#Times-Bold') format('svg');
  }
  
  @font-face {
    font-family: "Times-BoldItalic";
    src: url('/fonts/Times-BoldItalic/Times-BoldItalic.eot');
    src: url('/fonts/Times-BoldItalic/Times-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Times-BoldItalic/Times-BoldItalic.woff2') format('woff2'),
        url('/fonts/Times-BoldItalic/Times-BoldItalic.woff') format('woff'),
        url('/fonts/Times-BoldItalic/Times-BoldItalic.ttf') format('truetype'),
        url('/fonts/Times-BoldItalic/Times-BoldItalic.svg#Times-BoldItalic') format('svg');
  }
  
  @font-face {
    font-family: "Symbol";
    src: url('/fonts/Symbol/SymbolBook.eot');
    src: url('/fonts/Symbol/SymbolBook.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Symbol/SymbolBook.woff2') format('woff2'),
        url('/fonts/Symbol/SymbolBook.woff') format('woff'),
        url('/fonts/Symbol/SymbolBook.ttf') format('truetype'),
        url('/fonts/Symbol/SymbolBook.svg#SymbolBook') format('svg');
  }
  
  @font-face {
    font-family: "OPTIRailroadGothic";
    src: url('/fonts/OPTIRailroadGothic/OPTIRailroadGothic.eot');
    src: url('/fonts/OPTIRailroadGothic/OPTIRailroadGothic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/OPTIRailroadGothic/OPTIRailroadGothic.woff2') format('woff2'),
        url('/fonts/OPTIRailroadGothic/OPTIRailroadGothic.woff') format('woff'),
        url('/fonts/OPTIRailroadGothic/OPTIRailroadGothic.ttf') format('truetype'),
        url('/fonts/OPTIRailroadGothic/OPTIRailroadGothic.svg#OPTIRailroadGothic') format('svg');
  }
  
  @font-face {
    font-family: "NeueHaasDisplay-Black";
    src: url('/fonts/NeueHaasDisplay-Black/NeueHaasDisplay-Black.eot');
    src: url('/fonts/NeueHaasDisplay-Black/NeueHaasDisplay-Black.eot?#iefix') format('embedded-opentype'),
        url('/fonts/NeueHaasDisplay-Black/NeueHaasDisplay-Black.woff2') format('woff2'),
        url('/fonts/NeueHaasDisplay-Black/NeueHaasDisplay-Black.woff') format('woff'),
        url('/fonts/NeueHaasDisplay-Black/NeueHaasDisplay-Black.ttf') format('truetype'),
        url('/fonts/NeueHaasDisplay-Black/NeueHaasDisplay-Black.svg#NeueHaasDisplay-Black') format('svg');
  }
  
  @font-face {
    font-family: "NeueHaasDisplay-Light";
    src: url('/fonts/NeueHaasDisplay-Light/NeueHaasDisplay-Light.eot');
    src: url('/fonts/NeueHaasDisplay-Light/NeueHaasDisplay-Light.eot?#iefix') format('embedded-opentype'),
        url('/fonts/NeueHaasDisplay-Light/NeueHaasDisplay-Light.woff2') format('woff2'),
        url('/fonts/NeueHaasDisplay-Light/NeueHaasDisplay-Light.woff') format('woff'),
        url('/fonts/NeueHaasDisplay-Light/NeueHaasDisplay-Light.ttf') format('truetype'),
        url('/fonts/NeueHaasDisplay-Light/NeueHaasDisplay-Light.svg#NeueHaasDisplay-Light') format('svg');
  }
  
  @font-face {
    font-family: "NeueHaasDisplay-Mediu";
    src: url('/fonts/NeueHaasDisplay-Mediu/NeueHaasDisplay-Mediu.eot');
    src: url('/fonts/NeueHaasDisplay-Mediu/NeueHaasDisplay-Mediu.eot?#iefix') format('embedded-opentype'),
        url('/fonts/NeueHaasDisplay-Mediu/NeueHaasDisplay-Mediu.woff2') format('woff2'),
        url('/fonts/NeueHaasDisplay-Mediu/NeueHaasDisplay-Mediu.woff') format('woff'),
        url('/fonts/NeueHaasDisplay-Mediu/NeueHaasDisplay-Mediu.ttf') format('truetype'),
        url('/fonts/NeueHaasDisplay-Mediu/NeueHaasDisplay-Mediu.svg#NeueHaasDisplay-Mediu') format('svg');
  }
  
  @font-face {
    font-family: "NeueHaasDisplay-Roman";
    src: url('/fonts/NeueHaasDisplay-Roman/NeueHaasDisplay-Roman.eot');
    src: url('/fonts/NeueHaasDisplay-Roman/NeueHaasDisplay-Roman.eot?#iefix') format('embedded-opentype'),
        url('/fonts/NeueHaasDisplay-Roman/NeueHaasDisplay-Roman.woff2') format('woff2'),
        url('/fonts/NeueHaasDisplay-Roman/NeueHaasDisplay-Roman.woff') format('woff'),
        url('/fonts/NeueHaasDisplay-Roman/NeueHaasDisplay-Roman.ttf') format('truetype'),
        url('/fonts/NeueHaasDisplay-Roman/NeueHaasDisplay-Roman.svg#NeueHaasDisplay-Roman') format('svg');
  }
  
  @font-face {
    font-family: "NeueHaasDisplay-RomanItalic";
    src: url('/fonts/NeueHaasDisplay-RomanItalic/NeueHaasDisplay-RomanItalic.eot');
    src: url('/fonts/NeueHaasDisplay-RomanItalic/NeueHaasDisplay-RomanItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/NeueHaasDisplay-RomanItalic/NeueHaasDisplay-RomanItalic.woff2') format('woff2'),
        url('/fonts/NeueHaasDisplay-RomanItalic/NeueHaasDisplay-RomanItalic.woff') format('woff'),
        url('/fonts/NeueHaasDisplay-RomanItalic/NeueHaasDisplay-RomanItalic.ttf') format('truetype'),
        url('/fonts/NeueHaasDisplay-RomanItalic/NeueHaasDisplay-RomanItalic.svg#NeueHaasDisplay-RomanItalic') format('svg');
  }
  
  @font-face {
    font-family: "NeueHaasDisplay-Thin";
    src: url('/fonts/NeueHaasDisplay-Thin/NeueHaasDisplay-Thin.eot');
    src: url('/fonts/NeueHaasDisplay-Thin/NeueHaasDisplay-Thin.eot?#iefix') format('embedded-opentype'),
        url('/fonts/NeueHaasDisplay-Thin/NeueHaasDisplay-Thin.woff2') format('woff2'),
        url('/fonts/NeueHaasDisplay-Thin/NeueHaasDisplay-Thin.woff') format('woff'),
        url('/fonts/NeueHaasDisplay-Thin/NeueHaasDisplay-Thin.ttf') format('truetype'),
        url('/fonts/NeueHaasDisplay-Thin/NeueHaasDisplay-Thin.svg#NeueHaasDisplay-Thin') format('svg');
  }
  
  @font-face {
    font-family: "NeueHaasDisplay-ThinItalic";
    src: url('/fonts/NeueHaasDisplay-ThinItalic/NeueHaasDisplay-ThinItalic.eot');
    src: url('/fonts/NeueHaasDisplay-ThinItalic/NeueHaasDisplay-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/NeueHaasDisplay-ThinItalic/NeueHaasDisplay-ThinItalic.woff2') format('woff2'),
        url('/fonts/NeueHaasDisplay-ThinItalic/NeueHaasDisplay-ThinItalic.woff') format('woff'),
        url('/fonts/NeueHaasDisplay-ThinItalic/NeueHaasDisplay-ThinItalic.ttf') format('truetype'),
        url('/fonts/NeueHaasDisplay-ThinItalic/NeueHaasDisplay-ThinItalic.svg#NeueHaasDisplay-ThinItalic') format('svg');
  }
  
  @font-face {
    font-family: "NeueHaasDisplay-XXThinItalic";
    src: url('/fonts/NeueHaasDisplay-XXThinItalic/NeueHaasDisplay-XXThinItalic.eot');
    src: url('/fonts/NeueHaasDisplay-XXThinItalic/NeueHaasDisplay-XXThinItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/NeueHaasDisplay-XXThinItalic/NeueHaasDisplay-XXThinItalic.woff2') format('woff2'),
        url('/fonts/NeueHaasDisplay-XXThinItalic/NeueHaasDisplay-XXThinItalic.woff') format('woff'),
        url('/fonts/NeueHaasDisplay-XXThinItalic/NeueHaasDisplay-XXThinItalic.ttf') format('truetype'),
        url('/fonts/NeueHaasDisplay-XXThinItalic/NeueHaasDisplay-XXThinItalic.svg#NeueHaasDisplay-XXThinItalic') format('svg');
  }
  
  @font-face {
    font-family: "NeueHaasDisplay-Bold";
    src: url('/fonts/NeueHaasDisplay-Bold/NeueHaasDisplay-Bold.eot');
    src: url('/fonts/NeueHaasDisplay-Bold/NeueHaasDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/NeueHaasDisplay-Bold/NeueHaasDisplay-Bold.woff2') format('woff2'),
        url('/fonts/NeueHaasDisplay-Bold/NeueHaasDisplay-Bold.woff') format('woff'),
        url('/fonts/NeueHaasDisplay-Bold/NeueHaasDisplay-Bold.ttf') format('truetype'),
        url('/fonts/NeueHaasDisplay-Bold/NeueHaasDisplay-Bold.svg#NeueHaasDisplay-Bold') format('svg');
  }
  
  @font-face {
    font-family: "NeueHaasDisplay-LightItalic";
    src: url('/fonts/NeueHaasDisplay-LightItalic/NeueHaasDisplay-LightItalic.eot');
    src: url('/fonts/NeueHaasDisplay-LightItalic/NeueHaasDisplay-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/NeueHaasDisplay-LightItalic/NeueHaasDisplay-LightItalic.woff2') format('woff2'),
        url('/fonts/NeueHaasDisplay-LightItalic/NeueHaasDisplay-LightItalic.woff') format('woff'),
        url('/fonts/NeueHaasDisplay-LightItalic/NeueHaasDisplay-LightItalic.ttf') format('truetype'),
        url('/fonts/NeueHaasDisplay-LightItalic/NeueHaasDisplay-LightItalic.svg#NeueHaasDisplay-LightItalic') format('svg');
  }
  
  @font-face {
    font-family: "NeueHaasDisplay-MediumItalic";
    src: url('/fonts/NeueHaasDisplay-MediumItalic/NeueHaasDisplay-MediumItalic.eot');
    src: url('/fonts/NeueHaasDisplay-MediumItalic/NeueHaasDisplay-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/NeueHaasDisplay-MediumItalic/NeueHaasDisplay-MediumItalic.woff2') format('woff2'),
        url('/fonts/NeueHaasDisplay-MediumItalic/NeueHaasDisplay-MediumItalic.woff') format('woff'),
        url('/fonts/NeueHaasDisplay-MediumItalic/NeueHaasDisplay-MediumItalic.ttf') format('truetype'),
        url('/fonts/NeueHaasDisplay-MediumItalic/NeueHaasDisplay-MediumItalic.svg#NeueHaasDisplay-MediumItalic') format('svg');
  }
  
  @font-face {
    font-family: "NeueHaasDisplay-XThin";
    src: url('/fonts/NeueHaasDisplay-XThin/NeueHaasDisplay-XThin.eot');
    src: url('/fonts/NeueHaasDisplay-XThin/NeueHaasDisplay-XThin.eot?#iefix') format('embedded-opentype'),
        url('/fonts/NeueHaasDisplay-XThin/NeueHaasDisplay-XThin.woff2') format('woff2'),
        url('/fonts/NeueHaasDisplay-XThin/NeueHaasDisplay-XThin.woff') format('woff'),
        url('/fonts/NeueHaasDisplay-XThin/NeueHaasDisplay-XThin.ttf') format('truetype'),
        url('/fonts/NeueHaasDisplay-XThin/NeueHaasDisplay-XThin.svg#NeueHaasDisplay-XThin') format('svg');
  }
  
  @font-face {
    font-family: "NeueHaasDisplay-XThinItalic";
    src: url('/fonts/NeueHaasDisplay-XThinItalic/NeueHaasDisplay-XThinItalic.eot');
    src: url('/fonts/NeueHaasDisplay-XThinItalic/NeueHaasDisplay-XThinItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/NeueHaasDisplay-XThinItalic/NeueHaasDisplay-XThinItalic.woff2') format('woff2'),
        url('/fonts/NeueHaasDisplay-XThinItalic/NeueHaasDisplay-XThinItalic.woff') format('woff'),
        url('/fonts/NeueHaasDisplay-XThinItalic/NeueHaasDisplay-XThinItalic.ttf') format('truetype'),
        url('/fonts/NeueHaasDisplay-XThinItalic/NeueHaasDisplay-XThinItalic.svg#NeueHaasDisplay-XThinItalic') format('svg');
  }
  
  @font-face {
    font-family: "NeueHaasDisplay-XThinItalic";
    src: url('/fonts/NeueHaasDisplay-XThinItalic/NeueHaasDisplay-XThinItalic.eot');
    src: url('/fonts/NeueHaasDisplay-XThinItalic/NeueHaasDisplay-XThinItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/NeueHaasDisplay-XThinItalic/NeueHaasDisplay-XThinItalic.woff2') format('woff2'),
        url('/fonts/NeueHaasDisplay-XThinItalic/NeueHaasDisplay-XThinItalic.woff') format('woff'),
        url('/fonts/NeueHaasDisplay-XThinItalic/NeueHaasDisplay-XThinItalic.ttf') format('truetype'),
        url('/fonts/NeueHaasDisplay-XThinItalic/NeueHaasDisplay-XThinItalic.svg#NeueHaasDisplay-XThinItalic') format('svg');
  }
  
  @font-face {
    font-family: "NeueHaasDisplay-XXThin";
    src: url('/fonts/NeueHaasDisplay-XXThin/NeueHaasDisplay-XXThin.eot');
    src: url('/fonts/NeueHaasDisplay-XXThin/NeueHaasDisplay-XXThin.eot?#iefix') format('embedded-opentype'),
        url('/fonts/NeueHaasDisplay-XXThin/NeueHaasDisplay-XXThin.woff2') format('woff2'),
        url('/fonts/NeueHaasDisplay-XXThin/NeueHaasDisplay-XXThin.woff') format('woff'),
        url('/fonts/NeueHaasDisplay-XXThin/NeueHaasDisplay-XXThin.ttf') format('truetype'),
        url('/fonts/NeueHaasDisplay-XXThin/NeueHaasDisplay-XXThin.svg#NeueHaasDisplay-XXThin') format('svg');
  }
  
  @font-face {
    font-family: "ShipporiMinchoB1Xb";
    src: url('/fonts/ShipporiMinchoB1Xb/ShipporiMinchoB1-ExtraBold.ttf') format('truetype');
  }

  
  